 <div class="divider"></div>
     <h5 class="center-align">Areas</h5>
  <div class="section">
    <h5>Gerencia</h5>
    <img src="images/gerencia.jpg" alt="Gerencia" style="height: 250px; width: 350px;">
    <p>
      Parte de su trabajo la labor de llevar, dirigir o administrar 
      un departamento de una empresa que a su vez tienen a su cargo 
      una o varias personas. 
      <ol>
        <li>Organizar todo el trabajo del equipo.</li>
        <li>Controlar que el trabajo se lleva a cabo.</li>
        <li>Desarrollar programas para impulsar la productividad.</li>
        <li>Liderar al equipo humano.</li>
        <li>Responder ante el gerente principal</li>
        <li>Encargarse de que se cumplan los objetivos.</li>
        </ol>
    </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Contabilidad</h5>
    <img src="images/contabilidad.jpg" alt="Contabilidad" style="height: 150px; width: 350px;">
    <p>
      Mediante la contabilidad, se registran todas y cada una de 
      las operaciones económicas que realiza una entidad, con el 
      fin de poder obtener toda esa información ordenada y agrupada. 
      <ol>
        <li>Ofrecer una imagen fiel del estado del negocio.</li>
        <li>Servir como base para calcular los impuestos que correspondan.</li>
        <li>Tener un conocimiento y control absolutos sobre el negocio.</li>
        <li>Mejorar la toma de decisiones e ir un paso por delante.</li>
        </ol>
    </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Desarrollo y nuevas tecnologías</h5>
    <img src="images/tecnologias.jpg" alt="Desarrollo y nuevas tecnologías" style="height: 250px; width: 350px;">
    <p>
      Ser un departamento a la vanguardia en tecnologías de información y 
      reconocido institucionalmente por la calidad de los servicios que presta  
      <ol>
        <li>Aumentar y mejorar los canales de atención electrónica mediante el diseño y desarrollo de herramientas tecnológicas innovadoras.</li>
        <li>Desarrollar y mantener herramientas tecnológicas que apoyen la ejecución y gestión de los procesos implementando metodologías y mejores prácticas de la ingeniería de software.</li>
        <li>Desarrollo de Sistemas.</li>
        <li>Investigaciones e innovación de tecnología.</li>
        <li>Soporte técnico a usuarios.</li>
        </ol>
    </p>
  </div>
          