<br><br>
<div class="row center  lighten-4" style="padding:2em; border-radius: 1em;">
    <h1 class="header center teal-text" style="text-shadow: gray 5px 0 ;">
        Sistema de Control de Acceso
    </h1>
    <div class="row center">
        <h5 class="header col s12 light grey-text text_darken-3">
            Una aplicación que te permitirá registrar las entradas y salidas
            de cada uno de los usuarios que se encuentren registrados.
        </h5>
        <img src="images/Control_Acceso_P.jpg" alt="">
    </div>
</div>