 
  <div>
    <h5 class="center-align">Registro de Entradas y Salidas</h5>
  </div>
 <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Area</th>
            <th>Entrada</th>
            <th>Salida</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
   </tbody>
</table>